@media (max-width: 600px) {
    #navbar {
      padding: 0rem 1rem;
    }
  }
  #about {
    height: 100vh;
  }
  #about .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbar {
    position: fixed;
    width: 100vw;
  }